{
  "openapi": "3.1.0",
  "info": {
    "title": "Search results",
    "description": "Extract live results from popular search engines.",
    "version": "1.0.0-beta"
  },
  "servers": [{
    "url": "https://beta.api.joinmassive.com"
  }],
  "security": [{
    "bearerAuth": []
  }],
  "paths": {
    "/search": {
      "get": {
        "summary": "Get results",
        "description": "Retrieve real-time search results or queue results for later retrieval.",
        "responses": {
          "200": {
            "description": "The search results or a job identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [{
                    "$ref": "#/components/schemas/Results"
                  }, {
                    "$ref": "#/components/schemas/Job"
                  }]
                }
              }
            }
          }
        }
      }
    },
    "/search/results": {
      "get": {
        "summary": "Get async results",
        "description": "Retrieve the results or status of a queued job.",
        "responses": {
          "200": {
            "description": "The job results or status.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [{
                    "$ref": "#/components/schemas/Results"
                  }, {
                    "$ref": "#/components/schemas/Status"
                  }]
                }
              }
            }
          }
        }
      }
    },
    "/search/devices": {
      "get": {
        "summary": "Get devices",
        "description": "Retrieve a list of supported device names.",
        "responses": {
          "200": {
            "description": "The list of device names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "BlackBerry Z30", "BlackBerry Z30 landscape", "Galaxy Note 3", "<string>"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Results": {
        "type": "object",
        "summary": "Search results",
        "properties": {
          "query": {
            "type": "string",
            "example": "foo"
          },
          "results": {
            "type": "array",
            "items": {
              "oneOf": [{
                "$ref": "#/components/schemas/Organic"
              }, {
                "$ref": "#/components/schemas/OrganicWithSitelinks"
              }],
              "discriminator": {
                "propertyName": "type"
              }
            }
          },
          "resultsCount": {
            "type": "integer",
            "example": 43
          },
          "approxResultsCount": {
            "type": "integer",
            "example": 255000000
          }
        },
        "required": ["query", "results", "resultsCount"]
      },
      "Organic": {
        "type": "object",
        "summary": "Organic result",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["organic"]
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "section": {
            "type": "string",
            "example": "main"
          },
          "feature": {
            "type": "integer",
            "example": 1
          },
          "position": {
            "type": "integer",
            "example": 1
          },
          "url": {
            "type": "string",
            "example": "https://foofighters.com/"
          },
          "title": {
            "type": "string",
            "example": "Foo Fighters"
          },
          "site": {
            "type": "string",
            "example": "Foo Fighters"
          },
          "visibleUrl": {
            "type": "string",
            "example": "https://foofighters.com"
          },
          "date": {
            "type": ["string", "null"],
            "example": null
          },
          "snippet": {
            "type": "string",
            "example": "Official website of Foo Fighters."
          },
          "rating": {
            "type": ["number", "null"],
            "example": null
          },
          "votes": {
            "type": ["integer", "null"],
            "example": null
          },
          "sitelinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          }
        },
        "required": [
          "type",
          "page",
          "section",
          "feature",
          "position",
          "url",
          "title",
          "site",
          "visibleUrl",
          "date",
          "snippet",
          "rating",
          "votes",
          "sitelinks",
          "images"
        ]
      },
      "OrganicWithSitelinks": {
        "type": "object",
        "summary": "Organic result with sitelinks",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["organic-with-sitelinks"]
          },
          "page": {
            "type": "integer"
          },
          "section": {
            "type": "string"
          },
          "feature": {
            "type": "integer"
          },
          "position": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "visibleUrl": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "sitelinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sitelink"
            }
          }
        },
        "required": [
          "type",
          "page",
          "section",
          "feature",
          "position",
          "url",
          "title",
          "site",
          "visibleUrl",
          "snippet",
          "sitelinks"
        ]
      },
      "Link": {
        "type": "object",
        "summary": "Link element",
        "properties": {
          "position": {
            "type": "integer",
            "example": 1
          },
          "url": {
            "type": "string",
            "example": "https://foofighters.com/tour-dates/"
          },
          "title": {
            "type": "string",
            "example": "Tour Dates"
          }
        },
        "required": ["position", "url", "title"]
      },
      "Image": {
        "type": "object",
        "summary": "Image element",
        "properties": {
          "position": {
            "type": "integer",
            "example": 1
          },
          "source": {
            "type": "string",
            "example": "[Image data]"
          },
          "altText": {
            "type": "string",
            "example": "foo from en.wikipedia.org"
          }
        },
        "required": ["position", "source", "altText"]
      },
      "Sitelink": {
        "type": "object",
        "summary": "Sitelink element",
        "properties": {
          "position": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          }
        },
        "required": ["position", "url", "title", "snippet"]
      },
      "Job": {
        "type": "object",
        "summary": "Search job",
        "properties": {
          "id": {
            "type": "string",
            "description": "The identifier to retrieve a queued search with",
            "example": "078fd246-f0f7-44a0-aabb-cadd7b12454f"
          }
        },
        "required": ["id"]
      },
      "Status": {
        "type": "object",
        "summary": "Job status",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["retrieving", "failed"],
            "description": "The status of a queued search",
            "example": "retrieving"
          }
        },
        "required": ["status"]
      }
    }
  }
}
