{
  "openapi": "3.0.1",
  "info": {
    "title": "Pool Stats API",
    "x-logo": {
      "url": "logo192.png",
      "altText": "Massive Proxy Resellers API"
    },
    "description": "The Pool Stats API provides real-time statistics about the node pool availability. This API allows you to query live node counts with various filtering and grouping options.\n\n## Features\n- Get live node pool statistics with filtering\n- Group results by various dimensions (country, city, ASN, ZIP, device type)\n- Retrieve available server regions\n\n## Authorization\nThe API uses API key for authorization. The API key should be included in the request header as `x-api-key`.\n\nPlease contact Massive support to obtain an API key for this API.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api-network.joinmassive.com/pool-stats"
    }
  ],
  "paths": {
    "/v1/live": {
      "get": {
        "summary": "Get live node pool statistics",
        "description": "Retrieve the latest statistics for node pool with optional filtering and grouping. Results are always aggregated by server_region. Optional group_by parameter adds additional grouping dimensions.\n\n**IMPORTANT:** The node counts returned are NOT the number of nodes that will be available to serve requests. Many factors determine actual node availability including concurrent request load, real-time node connections/disconnections, and traffic routing rules. For reliable geo-targeting, at least 1,000 nodes in the specified geographic area are recommended. More specific geographic targeting (e.g., city or ZIP code level) results in less accurate counts and higher chances of 521 errors, even if nodes are shown as available.",
        "operationId": "getLiveStats",
        "parameters": [
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "description": "Additional dimension(s) to group results by (comma-separated). Results are always grouped by server_region. This parameter adds additional grouping on top. Examples: \"country\", \"city\", \"asn\", \"zip\", \"device_type\", \"country,city\"",
            "schema": {
              "type": "string",
              "pattern": "^(country|subdivision|city|asn|zip|device_type)(,(country|subdivision|city|asn|zip|device_type))*$"
            }
          },
          {
            "name": "server_region",
            "in": "query",
            "required": false,
            "description": "Filter by server region",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}-[a-z]+-\\d+$",
              "example": "us-east-1"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter by country code",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Z]{2}$",
              "example": "US"
            }
          },
          {
            "name": "subdivision",
            "in": "query",
            "required": false,
            "description": "Filter by state / subdivision",
            "schema": {
              "type": "string",
              "minLength": 0,
              "maxLength": 3,
              "pattern": "^[A-Z]{2}$",
              "example": "CA"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Filter by city name",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "New York"
            }
          },
          {
            "name": "asn",
            "in": "query",
            "required": false,
            "description": "Filter by ASN (Autonomous System Number)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4294967295,
              "example": 15169
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "description": "Filter by ZIP/postal code",
            "schema": {
              "type": "string",
              "maxLength": 20,
              "example": "10001"
            }
          },
          {
            "name": "device_type",
            "in": "query",
            "required": false,
            "description": "Filter by device type (mobile, tv, or common)",
            "schema": {
              "type": "string",
              "example": "mobile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with stats data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of stats results, always grouped by server_region at minimum",
                  "items": {
                    "type": "object",
                    "required": [
                      "server_region",
                      "count"
                    ],
                    "properties": {
                      "server_region": {
                        "type": "string",
                        "description": "AWS region of the proxy server (always present)"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code (present when grouping by country or city)",
                        "nullable": true
                      },
                      "subdivision": {
                        "type": "string",
                        "description": "Subdivision / state (present when grouping by country or city)",
                        "nullable": true
                      },
                      "city": {
                        "type": "string",
                        "description": "City name (present when grouping by city)",
                        "nullable": true
                      },
                      "asn": {
                        "type": "integer",
                        "description": "Autonomous System Number (present when grouping by asn)",
                        "nullable": true
                      },
                      "zip": {
                        "type": "string",
                        "description": "ZIP/postal code (present when grouping by zip)",
                        "nullable": true
                      },
                      "device_type": {
                        "type": "string",
                        "description": "Device type (mobile, tv, or common) (present when grouping by device_type)",
                        "nullable": true
                      },
                      "count": {
                        "type": "integer",
                        "description": "Number of active nodes in this group"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Statistics"
        ]
      }
    },
    "/v1/regions": {
      "get": {
        "summary": "Get available server regions with endpoint URLs",
        "description": "Retrieve a map of server regions to their corresponding network endpoint URLs. Regions are determined by querying active nodes in the pool. The endpoint URLs can be used directly to target proxy servers in specific regions.",
        "operationId": "getAvailableRegions",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with available regions and their endpoint URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Map of region identifiers to their network endpoint URLs",
                  "additionalProperties": {
                    "type": "string",
                    "description": "Network endpoint URL for the region",
                    "example": "https://us-network.joinmassive.com"
                  },
                  "example": {
                    "eu-west-1": "https://eu-network.joinmassive.com",
                    "us-east-1": "https://us-network.joinmassive.com"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Statistics"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}