{
  "openapi": "3.1.0",
  "info": {
    "title": "Massive",
    "description": "The missing services for agent-first development.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://unblocker.joinmassive.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Results",
        "description": "Retrieve popular search results or queue results for later retrieval.",
        "parameters": [
          {
            "name": "terms",
            "description": "The broad or exact word or phrase to query (e.g., `foo bar baz` or `\"foo bar baz\"`); the terms require [form or URL encoding](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) (with any space character being replaced by a `+` character or `%20` sequence).",
            "schema": {
              "type": "string",
              "example": "foo"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "serps",
            "description": "The number of results pages to fetch.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 1,
              "example": 1
            },
            "in": "query"
          },
          {
            "name": "size",
            "description": "The number of results per page to fetch; page size is unset by default.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "example": null
            },
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of initial results to skip; results aren\u2019t offset by default.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "example": null
            },
            "in": "query"
          },
          {
            "name": "ip",
            "description": "The type of IP address to search from; a random IP type is used by default.",
            "schema": {
              "type": "string",
              "enum": [
                "residential",
                "isp"
              ],
              "example": null
            },
            "in": "query"
          },
          {
            "name": "country",
            "description": "The [two-letter ISO code](https://www.iso.org/obp/ui/#search/code) of the country to search from (these codes are case insensitive); a random country is used by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "subdivision",
            "description": "The alphanumeric second part (proceeding the separator) of a [first-level subdivision code](https://www.iso.org/obp/ui/#search/code) in the (prerequisite) country to search from (these codes are case insensitive); a random subdivision is used by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "city",
            "description": "The [commonly spelled name](https://www.geonames.org/) of the city in the (prerequisite) country to search from (these names are temporarily case sensitive and required to include form- or URL-encoded spaces and punctuation marks); a random city is used by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "uule",
            "description": "The [proprietary encoded string](https://moz.com/blog/geolocation-the-ultimate-tip-to-emulate-local-search) for emulating the location to search from; if possible, the actual location is searched from not emulated; location emulation is unused by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "language",
            "description": "The commonly spelled name, [two-letter ISO code](https://www.loc.gov/standards/iso639-2/php/code_list.php), or [Google code](https://www.google.com/advanced_search) of the language to search in (these names and codes are case insensitive but required to include form- or URL-encoded spaces and punctuation marks); the language is unset by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "display",
            "description": "The commonly spelled name, [two-letter ISO code](https://www.loc.gov/standards/iso639-2/php/code_list.php), or [Google code](https://www.google.com/advanced_search) of the search interface\u2019s display language (these names and codes are case insensitive but required to include form- or URL-encoded spaces and punctuation marks); the display language is unset by default or set to the language if given.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "format",
            "description": "The format to output to.",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "json"
              ],
              "default": "html",
              "example": "json"
            },
            "in": "query"
          },
          {
            "name": "expiration",
            "description": "The age in days of when to consider cached results expired, where `0` disables caching.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1,
              "default": 1,
              "example": 0
            },
            "in": "query"
          },
          {
            "name": "mode",
            "description": "The synchronous or asynchronous mode of results retrieval (see the [async resource](search/results)).",
            "schema": {
              "$ref": "#/components/schemas/Mode"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Results"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "A job identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The identifier to retrieve the queued search with.",
                      "type": "string",
                      "example": "078fd246-f0f7-44a0-aabb-cadd7b12454f"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authenticationError"
          },
          "402": {
            "$ref": "#/components/responses/creditsError"
          },
          "422": {
            "$ref": "#/components/responses/paramsError"
          },
          "504": {
            "$ref": "#/components/responses/timeoutError"
          },
          "403": {
            "$ref": "#/components/responses/captchaError"
          },
          "503": {
            "$ref": "#/components/responses/unavailableError"
          },
          "500": {
            "$ref": "#/components/responses/unknownError"
          }
        }
      }
    },
    "/search/results": {
      "get": {
        "summary": "Async results",
        "description": "Retrieve the results or status of a queued search.",
        "parameters": [
          {
            "name": "id",
            "description": "The identifier returned by the [search endpoint](../search) of the queued search to retrieve.",
            "schema": {
              "type": "string",
              "example": "078fd246-f0f7-44a0-aabb-cadd7b12454f"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Results"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "The search status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "The status of the queued search.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Status"
                        }
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authenticationError"
          },
          "403": {
            "$ref": "#/components/responses/authorizationError"
          },
          "422": {
            "$ref": "#/components/responses/paramsError"
          },
          "500": {
            "$ref": "#/components/responses/unknownError"
          }
        }
      }
    },
    "/browser": {
      "get": {
        "summary": "Content",
        "description": "Retrieve webpage content or queue content for later retrieval.",
        "parameters": [
          {
            "name": "url",
            "description": "The URL of the page to browse; any unsafe characters require [URL encoding](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding).",
            "schema": {
              "type": "string",
              "example": "https://example.com/"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "difficulty",
            "description": "The difficulty pool to attempt to access the URL from.",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high (coming soon)"
              ],
              "default": "low",
              "example": "low"
            },
            "in": "query"
          },
          {
            "name": "speed",
            "description": "The speed to attempt to access the URL at, where `ridiculous` is 30 percent faster on average than `light` speed.",
            "schema": {
              "type": "string",
              "enum": [
                "light",
                "ridiculous",
                "ludicrous (planned)"
              ],
              "default": "light",
              "example": "light"
            },
            "in": "query"
          },
          {
            "name": "device",
            "description": "The name as returned by the [devices resource](browser/devices) of the device to emulate browsing on (these names are case insensitive but must include form- or URL-encoded spaces and punctuation marks); device emulation is unused by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "ip",
            "description": "The type of IP address to browse from; a random IP type is used by default.",
            "schema": {
              "type": "string",
              "enum": [
                "residential",
                "isp",
                "datacenter (planned)"
              ],
              "example": null
            },
            "in": "query"
          },
          {
            "name": "country",
            "description": "The [two-letter ISO code](https://www.iso.org/obp/ui/#search/code) of the country to browse from (these codes are case insensitive); a random country is used by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "subdivision",
            "description": "The alphanumeric second part (proceeding the separator) of a [first-level subdivision code](https://www.iso.org/obp/ui/#search/code) in the (prerequisite) country to browse from (these codes are case insensitive); a random subdivision is used by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "city",
            "description": "The [commonly spelled name](https://www.geonames.org/) of the city in the (prerequisite) country to browse from (these names are temporarily case sensitive and required to include form- or URL-encoded spaces and punctuation marks); a random city is used by default.",
            "schema": {
              "type": "string",
              "example": null
            },
            "in": "query"
          },
          {
            "name": "captcha",
            "description": "The intended resolution of any detected captcha, where `rejected` results in a `403` response.",
            "schema": {
              "type": "string",
              "enum": [
                "solved",
                "ignored",
                "rejected"
              ],
              "default": "solved",
              "example": "rejected"
            },
            "in": "query"
          },
          {
            "name": "readiness",
            "description": "The standard ready event to await before snapshotting browsed content.",
            "schema": {
              "type": "string",
              "enum": [
                "load",
                "domcontentloaded"
              ],
              "default": "load",
              "example": "load"
            },
            "in": "query"
          },
          {
            "name": "delay",
            "description": "The number of supplemental seconds to delay before snapshotting browsed content; no delay is used by default.",
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "example": null
            },
            "in": "query"
          },
          {
            "name": "format",
            "description": "The format to output to.",
            "schema": {
              "type": "string",
              "enum": [
                "rendered",
                "raw",
                "markdown"
              ],
              "default": "rendered",
              "example": "markdown"
            },
            "in": "query"
          },
          {
            "name": "expiration",
            "description": "The age in days of when to consider cached content expired, where `0` disables caching.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1,
              "default": 1,
              "example": 0
            },
            "in": "query"
          },
          {
            "name": "mode",
            "description": "The synchronous or asynchronous mode of content retrieval (see the [async resource](browser/content)).",
            "schema": {
              "$ref": "#/components/schemas/Mode"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The page content.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "A job identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The identifier to retrieve the queued request with.",
                      "type": "string",
                      "example": "1851dab8-4619-409f-893f-47dd3a180bc3"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authenticationError"
          },
          "402": {
            "$ref": "#/components/responses/creditsError"
          },
          "422": {
            "$ref": "#/components/responses/paramsError"
          },
          "429": {
            "$ref": "#/components/responses/throttlingError"
          },
          "504": {
            "$ref": "#/components/responses/timeoutError"
          },
          "403": {
            "$ref": "#/components/responses/captchaError"
          },
          "404": {
            "$ref": "#/components/responses/unsupportedError"
          },
          "503": {
            "$ref": "#/components/responses/unavailableError"
          },
          "500": {
            "$ref": "#/components/responses/unknownError"
          }
        }
      }
    },
    "/browser/content": {
      "get": {
        "summary": "Async content",
        "description": "Retrieve the content or status of a queued request.",
        "parameters": [
          {
            "name": "id",
            "description": "The identifier returned by the [browser endpoint](../browser) of the queued request to retrieve.",
            "schema": {
              "type": "string",
              "example": "1851dab8-4619-409f-893f-47dd3a180bc3"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request content.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "The request status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "The status of the queued request.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Status"
                        }
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authenticationError"
          },
          "403": {
            "$ref": "#/components/responses/authorizationError"
          },
          "422": {
            "$ref": "#/components/responses/paramsError"
          },
          "500": {
            "$ref": "#/components/responses/unknownError"
          }
        }
      }
    },
    "/browser/devices": {
      "get": {
        "summary": "Devices",
        "description": "Retrieve a list of supported device names.",
        "responses": {
          "200": {
            "description": "The list of device names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "Blackberry PlayBook",
                    "Blackberry PlayBook landscape",
                    "BlackBerry Z30",
                    "<string>"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authenticationError"
          },
          "403": {
            "$ref": "#/components/responses/authorizationError"
          },
          "402": {
            "$ref": "#/components/responses/creditsError"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Usage data",
        "description": "Generate an hourly consumption report.",
        "parameters": [
          {
            "name": "from",
            "description": "The [ISO datetime](https://www.w3.org/TR/NOTE-datetime) to select data starting from, inclusively.",
            "schema": {
              "type": "string",
              "example": "2025-12-24T18:00:00-06:00"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "to",
            "description": "The [ISO datetime](https://www.w3.org/TR/NOTE-datetime) to select data up to, inclusively.",
            "schema": {
              "type": "string",
              "example": "2025-12-25T9:00:00-06:00"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "email",
            "description": "**[Whitelabelers only]** The (case-insensitive) email address of the user to select data for; multiple email addresses can be provided by repeating the key; data for all email addresses is included by default.",
            "schema": {
              "type": "string",
              "example": "user@example.com"
            },
            "in": "query"
          },
          {
            "name": "service",
            "description": "The service to select data for; multiple services can be provided by repeating the key; data for all services is included by default.",
            "schema": {
              "$ref": "#/components/schemas/Service"
            },
            "in": "query"
          },
          {
            "name": "by",
            "description": "The time unit to group the data by.",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day (planned)",
                "total"
              ],
              "default": "total",
              "example": "total"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The hourly report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "description": "The email address of the user whose data is selected.",
                        "type": "string",
                        "example": "user@example.com"
                      },
                      "from": {
                        "description": "The ISO datetime of the first datapoint.",
                        "type": "string",
                        "example": "2025-12-25T00:00:00+00:00"
                      },
                      "to": {
                        "description": "The ISO datetime of the last datapoint.",
                        "type": "string",
                        "example": "2025-12-25T15:00:00+00:00"
                      },
                      "service": {
                        "description": "The service included in the data.",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Service"
                          }
                        ]
                      },
                      "result": {
                        "description": "The type of result included in the data.",
                        "type": "string",
                        "enum": [
                          "success",
                          "failure"
                        ],
                        "example": "success"
                      },
                      "calls": {
                        "description": "The number of API calls of the service and result type.",
                        "type": "integer",
                        "minimum": 1,
                        "example": 17208
                      },
                      "meanSecs": {
                        "description": "The average number of elapsed seconds of the API calls.",
                        "type": "number",
                        "minimum": 0,
                        "example": 6.78
                      }
                    },
                    "required": [
                      "email",
                      "from",
                      "to",
                      "service",
                      "result",
                      "calls",
                      "meanSecs"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authenticationError"
          },
          "403": {
            "$ref": "#/components/responses/authorizationError"
          },
          "422": {
            "$ref": "#/components/responses/paramsError"
          },
          "429": {
            "$ref": "#/components/responses/throttlingError"
          },
          "500": {
            "$ref": "#/components/responses/unknownError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Mode": {
        "summary": "Retrieval mode",
        "type": "string",
        "enum": [
          "sync",
          "async"
        ],
        "default": "sync",
        "example": "sync"
      },
      "Service": {
        "summary": "API service",
        "type": "string",
        "enum": [
          "search",
          "browser"
        ],
        "example": "browser"
      },
      "Results": {
        "summary": "Search results",
        "type": "object",
        "properties": {
          "engine": {
            "description": "The queried search engine.",
            "type": "string",
            "enum": [
              "google"
            ],
            "example": "google"
          },
          "terms": {
            "description": "The queried word or phrase.",
            "type": "string",
            "example": "foo"
          },
          "results": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Organic"
                },
                {
                  "$ref": "#/components/schemas/OrganicWithSitelinks"
                }
              ],
              "discriminator": {
                "propertyName": "type"
              }
            }
          },
          "resultsCount": {
            "description": "The number of parsed results.",
            "type": "integer",
            "minimum": 0,
            "example": 43
          },
          "pageCount": {
            "description": "The number of retrieved results pages.",
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "example": 1
          },
          "pageSize": {
            "description": "The number of retrieved results per page.",
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "example": null
          },
          "approxResultsCount": {
            "description": "The approximate number of indexed results.",
            "type": "integer",
            "minimum": 0,
            "example": 255000000
          },
          "resultsOffset": {
            "description": "The number of skipped initial results.",
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "example": null
          },
          "country": {
            "description": "The ISO code of the targeted country.",
            "type": "string",
            "example": null
          },
          "subdivision": {
            "description": "The partial ISO code of the targeted subdivision.",
            "type": "string",
            "example": null
          },
          "city": {
            "description": "The common name of the targeted city.",
            "type": "string",
            "example": null
          },
          "uule": {
            "description": "The encoded string of the emulated location.",
            "type": "string",
            "example": null
          },
          "language": {
            "description": "The common name, ISO code, or Google code of the targeted language.",
            "type": "string",
            "example": null
          },
          "display": {
            "description": "The common name, ISO code, or Google code of the targeted display language.",
            "type": "string",
            "example": null
          }
        },
        "required": [
          "engine",
          "terms",
          "results",
          "resultsCount",
          "pageCount"
        ]
      },
      "Organic": {
        "summary": "Organic result",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "organic"
            ],
            "example": "organic"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "example": 1
          },
          "section": {
            "$ref": "#/components/schemas/Section"
          },
          "feature": {
            "type": "integer",
            "minimum": 1,
            "example": 1
          },
          "position": {
            "type": "integer",
            "minimum": 1,
            "example": 1
          },
          "url": {
            "type": "string",
            "example": "https://foofighters.com/"
          },
          "title": {
            "type": "string",
            "example": "Foo Fighters"
          },
          "site": {
            "type": "string",
            "example": "Foo Fighters"
          },
          "visibleUrl": {
            "type": "string",
            "example": "https://foofighters.com"
          },
          "date": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "snippet": {
            "type": "string",
            "example": "Official website of Foo Fighters."
          },
          "rating": {
            "type": "number",
            "minimum": 0,
            "maximum": 5,
            "nullable": true,
            "example": null
          },
          "votes": {
            "type": "integer",
            "minimum": 0,
            "nullable": true,
            "example": null
          },
          "sitelinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          }
        },
        "required": [
          "type",
          "page",
          "section",
          "feature",
          "position",
          "url",
          "title",
          "site",
          "visibleUrl",
          "date",
          "snippet",
          "rating",
          "votes",
          "sitelinks",
          "images"
        ]
      },
      "OrganicWithSitelinks": {
        "summary": "Organic result with sitelinks",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "organic-with-sitelinks"
            ]
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          },
          "section": {
            "$ref": "#/components/schemas/Section"
          },
          "feature": {
            "type": "integer",
            "minimum": 1
          },
          "position": {
            "type": "integer",
            "minimum": 1
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "visibleUrl": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "sitelinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sitelink"
            }
          }
        },
        "required": [
          "type",
          "page",
          "section",
          "feature",
          "position",
          "url",
          "title",
          "site",
          "visibleUrl",
          "snippet",
          "sitelinks"
        ]
      },
      "Section": {
        "summary": "Result section",
        "type": "string",
        "enum": [
          "top",
          "left",
          "main",
          "bottom",
          "right"
        ],
        "example": "main"
      },
      "Link": {
        "summary": "Link element",
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 1,
            "example": 1
          },
          "url": {
            "type": "string",
            "example": "https://foofighters.com/tour-dates/"
          },
          "title": {
            "type": "string",
            "example": "Tour Dates"
          }
        },
        "required": [
          "position",
          "url",
          "title"
        ]
      },
      "Image": {
        "summary": "Image element",
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 1,
            "example": 1
          },
          "source": {
            "type": "string",
            "example": "[Image data]"
          },
          "altText": {
            "type": "string",
            "example": "foo from en.wikipedia.org"
          }
        },
        "required": [
          "position",
          "source",
          "altText"
        ]
      },
      "Sitelink": {
        "summary": "Sitelink element",
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 1
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          }
        },
        "required": [
          "position",
          "url",
          "title",
          "snippet"
        ]
      },
      "Status": {
        "summary": "Job status",
        "type": "string",
        "enum": [
          "retrieving",
          "failed"
        ],
        "example": "retrieving"
      }
    },
    "responses": {
      "authenticationError": {
        "description": "The authorization header was missing.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Authorization header must be provided"
            }
          }
        }
      },
      "authorizationError": {
        "description": "The API token was invalid.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Valid API token must be provided"
            }
          }
        }
      },
      "creditsError": {
        "description": "No more credits are available.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Credit balance is 0; top up at https://partners.joinmassive.com"
            }
          }
        }
      },
      "paramsError": {
        "description": "One or more parameters were invalid.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Character counts must be no more than 255"
            }
          }
        }
      },
      "throttlingError": {
        "description": "The rate limit was exceeded.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Rate limit was exceeded; please retry in 180 seconds"
            }
          }
        }
      },
      "timeoutError": {
        "description": "The operation timed out.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Request(s) timed out"
            }
          }
        }
      },
      "captchaError": {
        "description": "The content was captcha\u2019d.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Captcha was detected"
            }
          }
        }
      },
      "unsupportedError": {
        "description": "One or more resources is nonexistant.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Domain is nonexistant"
            }
          }
        }
      },
      "unavailableError": {
        "description": "The service is unavailable.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Service is autoscaling; please retry in 180 seconds"
            }
          }
        }
      },
      "unknownError": {
        "description": "An unknown error occurred.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Unknown error occurred"
            }
          }
        }
      }
    }
  }
}
